/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto","Helvetica Neue", sans-serif;
}

body{
    background-color: #F8F9FA
}

#infoWindow>div{
    font-size: 1.5rem;
    color: #2D3748;
    font-weight: bold !important;
    margin: 0.5rem 0;
}

#infoWindow p{
    font-size: 1rem;
    color: #A0AEC0;
    font-weight: bold;
    margin: 0.5rem 0;
}

#infoWindow div:nth-of-type(2){
    font-size: 0.9rem;
}
#infoWindow span{
    font-size: 0.9rem;
    font-weight: 400;
}

#info-window .title{
    font-size: 1.5rem;
    color: #2D3748;
    font-weight: bold !important;
    margin: 0.5rem 0;
}

#info-window p, #info-window li span, #info-window li div {
    font-size: 0.9rem !important;
    color: #A0AEC0;
    font-weight: 500;
    margin: 0.5rem 0;
}

#info-window p span, #info-window li{
    font-size: 1rem;
    font-weight: bold;
    color: #2D3748;
}
#info-window li div{
    margin-bottom: 0 !important;
}

#info-window li:last-of-type{
    font-size: 0.8rem;
}
#info-window .buttons{
    display: flex;
    flex-wrap: wrap;
    gap:0.2rem;
}
#info-window button{
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #4FD1C5;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}
