<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1" [ngClass]="{active: navigate =='tab1'}" (click)="getClass('tab1')">
      <span>
        <mat-icon>home</mat-icon>
      </span>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" [ngClass]="{active: navigate =='tab2'}" (click)="getClass('tab2')">
      <span>
        <mat-icon>person</mat-icon>
      </span>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <span>
        <mat-icon>logout</mat-icon>
      </span>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
