<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Utente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="change-pwd">
      <div class="text">
          <span>
              <mat-icon>lock</mat-icon>
              <span>Cambia password</span>
          </span>
      </div>
      <div class="add-user-container">
          <div class="button-parent" (click)="perizieService.changePassword()">
              <button>Cambia</button>
          </div>
      </div>  
    </div>
    <div class="logout">
      <div class="text">
          <span>
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
          </span>
      </div>
      <div class="add-user-container">
          <div class="button-parent" (click)="logout()">
              <button>Esci dall'account</button>
          </div>
      </div>  
    </div>
  </div>
</ion-content>
