ion-content, ion-header, ion-toolbar, ion-title{
    --background:#EDF2F7;
}
ion-title, ion-header, ion-toolbar{
    color: #2D3748;
    --background:#fff !important;
}
ion-content{
    display: grid;
    place-items: center;
}

.container{
    width:100%;
    min-height: 150px !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    padding: 2rem;
    gap: 2rem;
    
}
.change-pwd,.logout{
    width: 100%;
    //grid-row: span 2;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
}

.text{
    display: flex;
    width: 100%;
    margin-left: 0.5rem;
}

.text > span{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin:0.5rem 0;
}

.text span mat-icon{
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius:15px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    color:#fff;
    background-color: #4FD1C5;
}

.text span span{
    width: 100%;
    font-size:1rem;
    color:#2D3748;
    font-weight: bold;
}

.add-user-container{
    width:98%;
    height: 98%;
    border-radius: 10px;
    margin: 0.2rem auto;
    margin-bottom: 0.6rem;
    display: flex;
    align-items: center;
    padding-inline:8px;
}

.button-parent{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.button-parent button{
    width: 100%;
    padding: 0.6em;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background: #313860;
    background: linear-gradient(60deg, #313860 14%, #151928 86%);
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}