.wrapper-gallery{
    width: 100%;
    height: 100%;
    background-color: rgba(118, 118, 118, 0.7);;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-gallery{
    width: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
}

.text{
    display: flex;
    width: 100%;
    margin-left: 0.5rem;
}

.text > span{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin:0.5rem 0;
}

.text span mat-icon{
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius:15px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    color:#fff;
    background-color: #4FD1C5;
}

.text span span{
    width: 100%;
    font-size:1rem;
    color:#2D3748;
    font-weight: bold;
}

.text .close{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.text .close mat-icon{
    color:#2D3748;
    background-color: #fff;
    cursor: pointer;
    box-shadow: none;
}

.gallery-main{
    height: 350px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    
}

.gallery::-webkit-scrollbar {
    width: 85% !important;
    height: 5px;
}

.gallery::-webkit-scrollbar-track {
    background: #A0AEC0;
    border-radius: 100svh;
}

.gallery::-webkit-scrollbar-thumb {
    background: #2D3748;
    border-radius: 100svh;
}

.gallery{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-inline: 0.5rem;
    overflow: auto;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.gallery-item{
    display: flex;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}

.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    cursor: pointer;
    border-radius: 10px;
}

.gallery-item-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    color: #2D3748;
    margin-top: 0.3rem;
}

.no-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #2D3748;
}

.no-photo span{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}


