<div class="wrapper">
    <div class="container">
        <div class="container-map">
            <div class="text">
                <span>
                    <mat-icon>location_on</mat-icon>
                    <span>Mappa</span>
                </span>
            </div>
            <div id="mapContainer" class="mapContainer">
            </div>
        </div>
        <div class="container-filter">
            <div class="text">
                <span>
                    <mat-icon>filter_alt</mat-icon>
                    <span>Filtri</span>
                </span>
            </div>
            <div class="select-parent" (click)="openMenu()">
               <span>{{filter}}</span>
               <mat-icon [ngClass]="{rotate: isOpen}">arrow_drop_down</mat-icon>
            </div>
            @if(isOpen){
                <div class="option-parent">
                    @if(filter != 'tutti'){
                        <div (click)="changeFilter('tutti')">tutti</div>
                    }
                    @for (perizia of this.perizieService.perizie; track perizia._id) {
                        @if(filter != perizia.codiceOp){
                            <div (click)="changeFilter(perizia.codiceOp)" >{{ perizia.codiceOp }}</div>
                        }
                    }
                </div>
            }
        </div>
        <div class="container-tot">
            <div class="text">
                <span>
                    <mat-icon>functions</mat-icon>
                    <span>Totale perizie</span>
                </span>
            </div>
            <div class="tot-parent">
                <span>{{this.perizieService.totPerizie}}</span>
            </div>
        </div>
    </div>
    
    
</div>