<div class="navbar">
    <div class="title">
        <mat-icon>car_crash</mat-icon>
        <span>rilievi e perizie</span>
    </div>
    <ul class="navbar-list">
        <li class="navbar-item" [ngClass]="{active: active == 'main'}" (click)="getClass('main')">
            <span>
                <mat-icon>home</mat-icon>
                <a class="navbar-link" >Home</a>
            </span>
        </li>
        <li class="navbar-item" [ngClass]="{active: active == 'users'}" (click)="getClass('users')">
            <span>
                <mat-icon>person</mat-icon>
                <a class="navbar-link" >Utenti</a>
            </span>
        </li>
    </ul>
    <div class="log-out" (click)="logOut()">
        <span>
            <mat-icon>logout</mat-icon>
            <a class="navbar-link" >Log Out</a>
        </span>
    </div>
</div>
