<div class="wrapper">
  @if(this.loading){
  <div class="line-box">
    <div class="line"></div>
  </div>
  }
  <div class="login-container">
    <div class="image">
      <mat-icon>car_crash</mat-icon>
    </div>
    <div class="header">
      <h2>Login</h2>
      <p>inserisci le credenziali utente</p>
    </div>

    <form [formGroup]="loginForm" class="content">
      <div class="form-group">
        <div class="search">
          <div class="search-group">
            <mat-icon>email</mat-icon>
            <input formControlName="email" type="text" placeholder="email">
          </div>
        </div>
      </div>
      <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email
        obbligatoria</small>
      <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('email','email')">*Email scritta in un
        formato sbagliato</small>
      <div class="form-group">
        <div class="search">
          <div class="search-group">
            <mat-icon>lock</mat-icon>
            <input formControlName="password" [type]="type" placeholder="password">
          </div>
          <span (click)="showHidePwd()">
            <mat-icon class="eye">{{eyeIcon}}</mat-icon>
          </span>
        </div>
      </div>
      <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password
        obbligatoria</small>
      <div class="forgetPwd">
        <span href="#" (click)="recuperaPwd()">Password dimenticata?</span>
      </div>
      <div class="row-button">
        <button (click)="onSubmit()" type="submit">accedi</button>
      </div>
      <!--<div class="row-line">
          <p>o</p>
        </div>
        <div class="row-button-google">
          <button type="button" class="google-login">
            <div class="google-image">
              <img src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA">
            </div>
            Login with Google
          </button>
        </div>
        <div class="signUp">
          <p>Non hai un account? <a href="#">Registrati</a></p>
        </div>-->
    </form>

  </div>
</div>